test {
	col: rgb(4, 3, 4); /*#040304*/
	col: rgb(4, 3, 4); /*#040304*/
	col: rgb(177, 79, 80); /*#B14F50*/
	col: rgb(153, 92, 102); /*#995C66*/
	col: rgb(199, 95, 71); /*#C75F47*/
	col: rgb(228, 147, 58); /*#E4933A*/
	col: rgb(65, 63, 139); /*#413F8B*/
	col: rgb(95, 99, 145); /*#5F6391*/
	col: rgb(183, 174, 188); /*#b7aebc*/
	col: rgb(153, 92, 102); /*#995C66*/
	col: rgb(199, 95, 71); /*#C75F47*/
	col: rgb(228, 147, 58); /*#E4933A*/
	col: rgb(65, 63, 139); /*#413F8B*/
	col: rgb(95, 99, 145); /*#5F6391*/
	col: rgb(4, 3, 4); /*#040304*/
	col: rgb(183, 174, 188); /*#b7aebc*/
	col: rgb(128, 121, 131); /*#807983*/
	col: rgb(177, 79, 80); /*#B14F50*/
	col: rgb(183, 174, 188); /*#b7aebc*/
	}